@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Monoton&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #ec4755;
    --main-color-dark:rgba(139, 0, 0,0.2);
    --black-color:#000; 
    --white-color:#fff; 
    --main-transparent-gradient:  linear-gradient(to left top, rgba(255, 99, 71,0.12), rgba(251, 92, 75,0.12), rgba(246, 85, 78,0.12),
     rgba(241, 80, 83,0.12), rgba(236, 71, 85,0.12));
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}

@keyframes circularMotion {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
