body{
    font-family: 'Roboto', sans-serif;
}
.custom-text1{
    font-family: 'Monoton', cursive;
    font-size: 68px;
    font-weight: 100;
    cursor: pointer;
    display: flex;
}
.custom-text1 span{
    transition: all 0.3s ease;
    display: flex;
    margin: 0 3px;
}
.custom-text1 span:hover{
    font-weight: 700; 
    color: var(--main-color); 
    transform: scale(1.1);

}
.custom-text2{
font-family: 'East Sea Dokdo', cursive;
font-size: 80px;
color: var(--main-color);
text-size-adjust: auto;
}
.button{

 padding: 9px 15px;
 border: 1.5px solid transparent;
 border-radius: 8px;
 text-decoration: none;
 border-bottom-width: 4px;
 transition: border 0.3s ease; 
}
.button i{
    margin-left: 3px;
    transition: all 0.3s ease;
}
.button:hover i{
    margin-left: 8px;
}
.button-main{
    background:var(--main-color-dark);
    border: 1.5px solid var(--main-color);
    border-bottom-width: 3px;
    color: var(--main-color);
}
.button-main:hover{
    background: var(--main-color); 
    color: var(--white-color);
}
.button-light{
border: 1.5px solid var(--main-color);
    color: var(--main-color);
 background: var(--white-color); 
}
.button-light:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.nav-desktop{
    display: flex;
    justify-content: space-between;
    background: var(--black-color);
    padding: 12px  50px;
    align-items: center;
}
.nav-brand{
    color: var(--white-color);
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;

}
.nav-brand span{
    font-family: 'Monoton', cursive;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: var(--white-color);
    padding: 5px;
    font-size: 35px;
    margin-right: 3px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.desktop-links{
    list-style: none;
    display: flex;
    align-items: center;
}
.desktop-links li a{
    display: block;
    padding: 3px 0;
    margin: 0 20px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1.5px solid transparent;
    
}
.desktop-links li a:hover{
    border-bottom: 1.5px solid var(--main-color);
}


.backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: var( --main-transparent-gradient);
    height: 100%;
    z-index: 80;
    display: none;
}
.show-backdrop{
    display: block;
}
.nav-mobile{
    display: none;
    position: relative;
    z-index: 160;
}
.mobile-header{
    display:flex;
    background: var(--black-color); 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.mobile-navigations{
    border-top: 1px solid var(--white-color);
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.2s ease ;
    top: -800%;
    z-index: 100;
}
.show-mobile-navigations{
    top: 80px;
    
}
.mobile-links{
    list-style: none;
padding-bottom: 20px;
background: var(--black-color);
}
.mobile-links li a{
display: block;
text-decoration: none;
padding: 15px 20px;
color: var(--main-color);
}
.mobile-links li a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.mobile-links .button{
    display: inline-block;
    margin: 20px 0 0 20px;
}

/*  Hamburger menu starts here */
.navmobile-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-bar {
    width: 100%;
    height: 3px;
    background: var(--white-color);
    position: relative;
}

.menu-bar::before,
.menu-bar::after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    background: var(--white-color);
}

.menu-bar::after {
    transform: translateY(10px);
}

.menu-bar::before {
    transform: translatey(-10px);

}

.showMenu .menu-bar {
    background: transparent;
}

.showMenu .menu-bar::before {
    transform: rotate(45deg);
}

.showMenu .menu-bar::after {
    transform: rotate(-45deg);
}

/*  Hamburger menu ends here */




.header-banner{
    background:  url("./img/header.jpg");
    background-size: cover;
    position: relative;
    background-position: bottom center; 
    padding: 50px 50px 80px 50px;
    position: relative;
    color: var(--white-color);
    z-index: 10;
    overflow: hidden;
} 
.header-banner p{
    width: 500px;
    line-height: 1.7;
}
.header-banner img{
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 300px;
    height: 300px;
    animation: circularMotion 60s infinite linear;
}

@media (max-width:768px){
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: block;
    }
}
@media (max-width:568px){
.header-banner{
    padding: 50px 20px 80px 20px;

}
.header-banner p{
    width: 100%;
}
.custom-text1{
    font-size: 58px;
}
.custom-text2{
    line-height: 0.9;
    font-size: 68px;
}
}